Options -Indexes
DirectoryIndex /core/default.php
RewriteEngine On
#RedirectMatch 500 ^/([a-zA-Z0-9]+\/)+.*(\.php)$
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9a-zA-Z-_/]+)$ /core/default.php [QSA]